.cont {
    display: flex;
    flex-flow: row nowrap;
}

.businesses {
    flex: 70%;
}

input.searchBusiness {
    margin: 10px 0 30px;
    padding: 8.5px 25px;
    font-size: 1.1em;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #aaa;
}

.filterTypes {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: space-around;

    .type {
        // background-color: #ccc;
        padding: 5px 0px 5px 20px;
        // border-radius: 3px 3px 3px 0;
        border-left: 3px solid transparent;
        transition: border-color 0.075s ease-in;

        &:hover {
            cursor: pointer;
            border-left: 3px solid #ccc;
        }

        &.selected {
            border-left: 3px solid dodgerblue;
        }
    }
}

