.cont {
    display: flex;
    flex-flow: row nowrap;
}

.businesses {
    flex: 70%;
}

.searchBusiness {
    margin: 10px 0;
    padding: 5px 7px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #aaa;
}

.filterTypes {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: space-around;

    .type {
        // background-color: #ccc;
        padding: 5px 7px;
        border-radius: 3px;
        border-left: 3px solid transparent;

        &:hover {
            cursor: pointer;
            border-left: 3px solid #bbb;
        }

        &.selected {
            border-left: 3px solid dodgerblue;
        }
    }
}

