.business-detail-drop {
    position: relative;
    padding: 15px 50px;
    background-color: #fafafa;

    display: flex;
    justify-content: space-between;
    
    div.close {
        position: absolute;
        top: 0px;
        right: 15px;
        font-size: 1.2em;

        &:hover {
            color: dodgerblue;
            cursor: pointer;
        }
    }
}

.business-detail-name {
    &:hover {
        color: dodgerblue;
        cursor: pointer;
    }
}

.sebm-google-map-container {
  height: 200px;
  width: 300px;
}
