<div class="business-detail">
  <p class="business-detail-name" (click)="showInfo()">{{business.name}}</p>

  <div *ngIf="showInfoBool" class="business-detail-drop fade-in">
    <!--Close button-->
    <div class="close" (click)="showInfo()">✖</div>

    <!--Info section-->
    <div class="business-detail-drop-info">
      <h3><a [routerLink]="['/businesses/' + business.id]">{{business.name}}</a></h3>
      <p><i>{{business.description}}</i></p>
      <p>{{business.phone}}</p>
      <p>{{business.contact}}</p>
      <p>{{business.email}}</p>
      <a *ngIf="business.website" target="_blank" href="http://{{business.website}}">{{business.website}}</a>
      <p><small>{{business.coords.Address}}</small></p>
    </div>

    <!--Map section-->
    <div class="business-detail-drop-map">
      <sebm-google-map [mapDraggable]="false" [latitude]="business.coords.Latitude" [longitude]="business.coords.Longitude" [zoom]="14">
        <sebm-google-map-marker [latitude]="business.coords.Latitude" [longitude]="business.coords.Longitude">
        </sebm-google-map-marker>
      </sebm-google-map>
    </div>

  </div>
</div>